body, html {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background: #00aa00;
    color: white;
}
.big {
    min-width: 500px;
}
input {
    background: orange;
    border: none;
}
::-webkit-input-placeholder {
   color: #313131;
}
a {
    text-decoration: none;
    color: white;
}
table tr td {
    padding: 1em;
}
#classGrades tr:hover {
    background-image: linear-gradient(green, darkgreen);
}
table {
    border-spacing: 0;
}
span>* {
    display: inline;
}
#assignmentGrades {
    display: none;
    width: auto;
    height: 100%;
    max-width: 400px;
    background-color: green;
    overflow-y: scroll;
}
